/* Background */

body {
background-color: rgba(234,234,234,.75);
}

.clear {
clear: both;
}


/* Nav */

.navbar-container {
  font-family:arial;
  font-size:12px;
  width: 100%;
}

ul.navbar {
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
  top:0;
  justify-content: center;
  background-color:rgba(216, 216, 216, 0.1);
}

li.navbar {
    display: inline;
    text-transform: uppercase;
    float: left;
    border-right: 1px solid #d8d8d8;
}

li.jem {
    font-size:12px;
    font-weight:lighter;
    text-transform: lowercase;
    display: inline;
    float: right;
    text-align: center;
    padding: 14px 16px;
    color: navy;
    text-decoration: none;
}

li.social {
    font-size:20px;
    color: red;
    display: inline;
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.navbar a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: black;
    text-decoration: none;
}

li.navbar a:hover {
    background-color: white;
    opacity: 0.15;
}

li.br {
  font-size:1px;
  font-weight:lighter;
  font-family: sans-serif;
  color: white;
}

/* Index Page Specific */

.sub-head {
  font-family: sans-serif;
  margin-top: 0px;
  margin-left: 20px;
}

h1 {
  font-family: sans-serif;
  margin: 0 0 5px 0;
  padding: 10px;
}

h4.sort {
  font-size: 8pt;
  font-family: sans-serif;
  font-style: italic;
  font-weight: lighter;
  color: grey;
  margin: 0 0 25px 0;
}

/* Table  */

table {
    border-spacing: 0;
    width: 100%;
    border: 1px solid #C0C0C0;
}

th, td {
    color: black;
    text-align: left;
    padding: 10px;
    font-size: 10pt;
    font-family: sans-serif;
}

tr:nth-child(even) {
    background-color: #C0C0C0
}

table.sortable thead {
    background-color:#C0C0C0;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

/* Resume Specific  */

.resume_content {
font: 14px Helvetica, Sans-Serif; line-height: 20px;
}

.resume_title {
  text-transform: capitalize;
  font-style: normal;
  font-size: 24px;
  font-family: sans-serif;
}

#objective {
width: 100%; float: left;
}

#objective p {
font-family: sans-serif;; font-style: italic; color: black; padding: 25px 75px 25px 75px;
}

dt {
font-style: italic; font-weight: lighter; font-size: 18px;
text-align: right; padding: 0 26px 0 0; width: 100px; float: left;
height: 100px; border-right: 1px solid #999;
}

dd {
width: 80%; float: right;
}

dd.clear {
float: none; margin: 0; height: 15px;
}

ul.resume {
margin: 0 0 32px 17px;
}

h1.resume {
margin: 0 0 14px 0; padding: 0 0 14px 0;
font-size: 32px; font-weight: lighter; text-align: center;
letter-spacing: 0px; border-bottom: 1px solid #999;
}

h2.resume {
font-size: 20px; margin: 0 0 -2px 0; position: relative;
font-weight: normal;
}

h3.resume {
font-size: 14px; font-weight: lighter;
}

h4.resume {
font-size: 18px; font-weight: lighter;
}

ul.ed {
  list-style-type:none;
}

/* Speeches  */

.headline {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 32px;
  color: black;
}
ul.speech {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.s1 {
  list-style-type: none;
  color: black;
  font-weight:lighter;
  font-family: sans-serif;
  font-size: 18px;
  text-align: center;
}

.s2 {
  list-style-type: none;
  color: black;
  font-weight: lighter;
  font-family: sans-serif;
  font-size: 14px;
  text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}

img.exec {
  height: 250px;
  width: auto;
}

h1.speech {
font-size: 14px;
font-family: sans-serif;
font-weight: lighter;
text-align: center;
letter-spacing: 0px; color: grey;
padding: 14px 16px;
}

p.speech {
padding: 8px;
margin: 0;
}

li.space {
padding: 5px;
margin: 0 5px 5px 25px;
}

/* Column Grids */
.column {
    float: left;
    padding: 10px;
}

.left {
 width: 29%;
}

 .right {
  width: 28%;
}

.middle {
  width: 40%;
}

.section {
    padding: 14px 16px;
    font-size:12px;
    font-weight:normal;
    color: red;
    display: inline;
    float: right;
    text-align: left;
    margin: 10px 50px auto 250px;
}

hr {

  margin: 10px auto 10px auto;
  width: 25%;
}
/* Contact  */

social:hover, a:hover {
    opacity: 0.7;
}
